{{#partial "content"}}
<div class="container">

    <div class="row">
        <div class="col-md-8 pg-1">
            <p class="text-white text-center quote">
                “Wildlife is something which man cannot construct. Once it is gone, it is gone forever. <br>
                Man can rebuild a pyramid, but he can't rebuild ecology, or a giraffe.
            </p>
            <p class="auth text-white">Joy Adamso</p>
        </div>

        <div class="col-md-4 pg-2">

            <div class="btns">
                <a href="/animals/endangered"><button class="btn btn-primary">Endangered Animals</button></a> <br><br>
                <a href="/animals/non-endangered"><button class="btn btn-primary">Non-Endangered Animals</button></a>
                <br><br>
                <a href="/sightings"><button class="btn btn-primary">View Sightings</button></a> <br><br>
                <a href="/sightings/new"><button class="btn btn-primary">Report Sightings</button></a>
            </div>

        </div>
    </div>
</div>
{{/partial}}

{{> layout.hbs}}