
{{#partial "content"}}
        <div class="container-fluid">
            <div class = "row">
                <div class= "col-md-5 content sight-forms">
                    <h3> Report Animal Sighting </h3>
                    <form action="/sighting" method="post">
                        <label>Select Animal</label>
                        <select name="animalSelected" class="custom-select">
                            <option selected>Choose Animal</option>
                            <option value="">Giraffe</option>
                            <option value="">Ostrich</option>
                            <option value="">Baboon</option>
                            <option value="">Tiger</option>
                        </select>
                        <br>
                        <br>
                        <label>Location</label>
                        <input type="text" name="location" class="form-control">
                        <br>
                        <label>Ranger Name</label>
                        <input type="text" name="rangerName" class="form-control">
                        <input type="hidden" name="non-endangered" id="non-endangered" value="non-endangered">
                        <br>
                        <a href="/sightings"><button type="submit" class="btn btn-primary">Submit Report</button></a>
                    </form>
                    <br>
                </div>

                <div class= "col-md-5 content sight-forms">
                    <h3> Report Endangered Animal Sighting </h3>
                    <form action="/endangered_sighting" method="post">
                        <label>Select Endangered Animal</label>
                        <select name="endangeredAnimalSelected" class="custom-select">
                            <option selected>Choose Animal</option>
                            <option value="">Deer</option>
                            <option value="">Rhino</option>
                            <option value="">Bear</option>
                            <option value="">Lion</option>

                        </select>
                        <br>
                        <br>
                        <label>Location</label>
                        <input type="text" name="location" class="form-control">
                        <br>
                        <label>Ranger Name</label>
                        <input type="text" name="rangerName" class="form-control">
                        <input type="hidden" name="endangered" id="endangered" value="endangered">
                        <br>
                        <a href="/sightings"><button type="submit" class="btn btn-primary">Submit Report</button></a>
                    </form>
                </div>
            </div>
        </div>


    </div>

{{/partial}}

{{>layout.hbs}}

